@import "_var"
@import "_mixins"

$content-map-height: 800px
$content-map-height-md: 600px
$content-map-height-sm: calc(100vh - 110px)


.catalog_products_list
  width: 100%
  height: auto
  min-height: $content-map-height

.catalog_map_container
  width: 100%
  //display: grid
  //grid-template-columns: 5fr 4fr
  //border: 1px solid rgba(159, 159, 159, 1)
  border-radius: 4px
  height: $content-map-height
  overflow: hidden

  +md
    //grid-template-columns: 7fr 5fr
    height: $content-map-height-md

  +sm
    //grid-template-columns: 1fr
    height: $content-map-height-sm

  .map_address_box
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    overflow-x: hidden
    overflow-y: auto
    grid-gap: 10px
    padding: 11px

    @media screen and (max-width: 1024px)
      max-height: 100%

    +sm
      max-height: 100%
      display: flex
      flex-direction: row
      overflow-y: hidden
      overflow-x: auto

.loading_container
  width: 100%
  height: auto
  display: flex
  flex-direction: row

  +md_sm
    flex-direction: column

  .skeleton_flex
    flex: 1

  .loading_cards
    display: flex
    flex-direction: column

    +md_sm
      margin-top: 20px
      flex-direction: row !important


