@import "_var"
@import "_mixins"

.map-list-container
  width: 100%
  height: 100%

  +sm
    height: calc(100vh - 250px)

.button-children-icon
  width: auto
  display: flex
  align-items: center

  span
    display: inline-block
    margin-inline-end: $p-size-20

  img
    width: 24px
    height: 24px

p
  font-size: $size-16
  line-height: 24.4px
  +sm
    font-size: $size-14
    line-height: 21px

.leaflet-control-attribution
  display: none

.customIcon
  height: 40px
  width: 40px
  background-color: #212121
  border-radius: 20px
  text-align: center
  color: white

.customIcon span
  line-height: 40px

.customIcon-cs
  height: 119px
  width: 38px
  background-color: $default-light

  display: flex
  align-items: center
  flex-direction: column
  padding: 5px


  span
    width: 30px
    height: 30px
    border-radius: 4px
    display: flex
    justify-content: center
    align-items: center
    font-size: $size-16
    color: $default-light
    background-color: $color-secondary

.leaflet-popup
  width: 220px

.leaflet-popup-content-wrapper
  border-radius: 4px !important
  padding: 0 !important

.leaflet-popup-content
  margin: 0 !important

.leaflet-popup-close-button
  top: 12px !important
  right: 5px !important
  width: 10px !important
  height: 10px !important

  &:after
    content: ''
    display: block
    position: absolute
    top: 5px
    right: 5px

    width: 100%
    height: 100%

    @include background-image-set-full(cover, center, '/images/icons/close-icon.svg')

  span
    display: none


.maplibregl-popup-content
  padding: 0 !important
  border-radius: 0 !important

.maplibregl-popup-close-button
  top: 10px !important
  right: 10px !important
  width: 10px !important
  height: 10px !important

  font-size: 0

  &:after
    content: ''
    display: block
    position: absolute
    top: 5px !important
    right: 5px !important

    width: 100%
    height: 100%

    @include background-image-set-full(cover, center, '/images/icons/close-icon.svg')

  span
    display: none

.map-popup
  width: 190px
  height: 190px
  background-color: $default-light
  border-radius: 4px
  padding: 10px 0

  img
    border-radius: 0

  .info
    padding: 0 10px

  .popup_title
    font-size: $size-14 !important
    line-height: 22px
    margin-bottom: $p-size-5

  .popup_price
    font-weight: $size-500
    margin-bottom: $p-size-10
    font-size: $size-12

  .popup_object_count
    padding: 0 10px
    color: $text-color-opacity
    font-size: $size-11
    line-height: 15.4px
//margin-top: $p-size-10

.marker-cluster-small, .marker-cluster-medium
  background-color: #000000 !important

  div
    background-color: #000000 !important
    color: #ffffff


// Toastify
.Toastify__toast--default
  background-color: black !important

.Toastify__toast-body
  color: #ffffff !important
