@import "_var"
@import "_mixins"

.ui_accordion
  width: 100%
  height: auto

  &.accordion_tab_content
    display: grid
    grid-template-columns: 1fr 2fr
    grid-gap: $p-size-110
    position: relative

    @media screen and (max-width: 768px)
      grid-template-columns: 1fr

  .accordion_item
    width: auto
    height: 72px
    cursor: pointer
    border-bottom: 1px solid $text-color-opacity
    //margin-bottom: $p-size-10
    //transition: height .4s ease-in-out
    will-change: height
    padding: $p-size-20

    &:first-of-type
      border-top: 1px solid $text-color-opacity

    &.active
      height: min-content

    .header
      cursor: pointer
      color: $text-color-opacity
      text-transform: uppercase
      font-size: $size-16
      line-height: 22.4px
      display: flex
      align-items: center
      justify-content: space-between

      .title_active
        font-weight: $size-500

      .icon_disabled
        width: 22px
        height: 22px
        display: block
        @include background-image-set-full(cover, center, '/images/icons/plus_icon.svg')

      .icon_active
        width: 35px
        height: 10px
        display: block
        @include background-image-set-full(cover, center, '/images/icons/arrow-right.svg')

    .content
      width: 100%
      overflow: hidden
      line-height: 30px

      .content_section
        padding: 50px 0

  .content_tab_box
    position: relative

    @media screen and (max-width: 768px)
      display: none
      visibility: hidden

    .content_tab
      width: 100%
      height: auto
      //visibility: hidden
      overflow: hidden
      transition: opacity .5s ease
      will-change: opacity

      &.active
        opacity: 1
        visibility: visible

  .accordion_icon
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    position: relative

    .icon_v
      width: 22px
      height: 1px
      background-color: #16181D
      opacity: .6
      position: absolute

    .icon_h
      width: 22px
      height: 1px
      background-color: #16181D

      opacity: .6
      transform: rotate(90deg)

