@import "_var"

.ui_logo
  cursor: pointer
  width: 133px
  height: auto
  display: flex
  align-items: center

  &.ui_logo_light
    .ui_logo_items
      .item
        background-color: $default-light

    .ui_logo_text
      color: $default-light

  .icon
    width: 40px
    height: 40px

    &.icon_sc
      transform: rotate(90deg)

  .icon_box
    width: 30px
    height: 30px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-end
    margin-inline-end: $p-size-15

    &.icon_box_row
      flex-direction: row

  .ui_logo_items
    display: flex
    align-items: flex-end
    flex-direction: column

    .item
      width: 22px
      height: 2px
      background-color: $default-black
      margin-bottom: 10px

      &:last-of-type
        margin-bottom: 0

      &:nth-of-type(2)
        width: 34px

  .ui_logo_text
    font-weight: $size-500
    font-size: $size-14
    line-height: 18px
    letter-spacing: 3px
    text-transform: uppercase
