@import "_var"
@import "_mixins"

.ui_tabs
  width: auto
  height: auto
  margin-bottom: 20px
  position: relative
  display: flex
  align-items: center
  flex-direction: row

  +md_sm
    flex-direction: column
    align-items: flex-start

  button
    font-size: $size-20
    text-transform: uppercase
    margin-inline-end: 30px
    position: relative

    +md_sm
      margin-bottom: 15px !important
      margin-inline-end: 0


    &:last-of-type
      margin-inline-end: 0


